.collections {
  min-height: 80vh;
}

.collection-card-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection-card {
  cursor: pointer;
  position: relative;
  margin: 0.2rem;
  transition: all 0.3s;
}

.collection-card:hover {
  transform: scale(1.06);
  /* box-shadow: 2px 2px 6px 0; */
}

.collection-image {
  height: 200px;
  width: 200px;
}

@media screen and (min-width: 330px) and (max-width: 840px) {
  .collection-image {
    height: 300px;
    width: 300px;
  }
}

@media screen and (min-width: 840px) {
  .collection-card-group {
    top: 5rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
  }
  .collection-image {
    height: 275px;
    width: 275px;
  }
  
}

@media screen and (min-width: 1000px) {
  .collection-image {
    height: 300px;
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .collection-image {
    height: 350px;
    width: 350px;
  }
}

@media screen and (min-width: 1500px) {
  .collection-image {
    height: 400px;
    width: 400px;
  }
}
