.cart {
  height: 80vh; /* 80% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 4rem;
  right: 0;
  background-color: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.6s; /* 0.5 second transition effect to slide in the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.cart-active {
  box-shadow: -7px 0px 14px 3px rgba(135, 135, 135, 0.6);
  width: 80vw;
}

.cart-img {
  width: 60px;
  height: 60px;
}

.cart-item {
  font-size: 1rem;
  display: flex;
  font-family: 'Arima Madurai', cursive;
  width: 75%;
  justify-content: space-between;
}

@media screen and (min-width: 500px) {
  .cart-item {
    font-size: 1.2rem;
  }
  .cart-img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1000px) {
  .cart-item {
    font-size: 1.4rem;
  }
  .cart-img {
    width: 100px;
    height: 100px;
  }
}
