/* Styles for the full product page */
.products-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
}

.product > .title {
  margin-top: 4rem;
}

/* Individual Product Page Styling */

.product-page-img {
  justify-self: center;
  height: 15rem;
  width: 15rem;
}
.product-page-description {
  text-align: center;
  margin: 1rem;
  padding-bottom: 1rem;
}

.product-page-price,
.product-page-dimensions {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }
  .product > .title {
    grid-column: 1 / 3;
  }

  .product-page-img {
    height: 20rem;
    width: 20rem;
  }
}

.cart-icon:hover {
  cursor: pointer;
  color: #e2e2e2;
}

/* Styles for individual product cards*/
.product-card {
  text-decoration: none;
  color: #000;
  font-family: 'Arima Madurai', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-weight: lighter;
  width: 10rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.product-card:hover {
  box-shadow: 0px 0px 10px 4px #e2e2e2;
  cursor: pointer;
}

.product-img {
  width: 8rem;
  height: 8rem;
}

@media screen and (min-width: 600px) {
  .product-img {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (min-width: 920px) {
  .product-img {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (min-width: 1000px) {
  .product-card {
    width: 12rem;
  }
  .product-img {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .product-card {
    width: 14rem;
  }
  .product-img {
    width: 12rem;
    height: 12rem;
  }
}
