.primary-btn {
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  border: #000 5px solid;
  color: #000;
  font-size: 15px;
  font-family: 'Yellowtail', cursive;
  padding: 0.5rem;
  width: 10rem;
}

.primary-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.secondary-btn {
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  border: #fff 5px solid;
  color: #fff;
  font-size: 15px;
  font-family: 'Yellowtail', cursive;
  padding: 0.5rem;
  width: 10rem;
  margin: auto 2rem;
  width: 12rem;
  font-size: 1.4rem;
}

@media screen and (min-width: 600px) {
  .secondary-btn {
    width: 15rem;
    font-size: 2.5rem;
  }
}
.secondary-btn:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
}

.hero-btn {
  align-self: start;
}

@media screen and (min-width: 350px) {
  .primary-btn {
    font-size: 20px;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 750px) {
  .primary-btn {
    font-size: 24px;
  }
}
