.custom-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
}

.custom-board-form {
  display: flex;
  flex-direction: column;
}


.seller-note {
  align-self: center;
  text-align: center;

}