.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.indicators {
  cursor: pointer;
  margin: 1rem;
  text-align: center;
}
