.navbar {
  font-family: 'Yellowtail', cursive;
  font-size: 1.5rem;
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  padding: 0.5rem 1rem;
  top: 0;
  left: 0rem;
  right: 0rem;
  z-index: 1;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

