.navbar {
  font-family: 'Yellowtail', cursive;
  font-size: 1.5rem;
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  padding: 0.5rem 1rem;
  top: 0;
  left: 0rem;
  right: 0rem;
  z-index: 1;
  /* height: 5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 32px rgb(0 0 0 / 8%);
}

.sidebar {
  height: 80vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 4rem;
  right: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}
.sidebar-active {
  box-shadow: -7px 0px 14px 3px rgba(135, 135, 135, 0.6);
  width: 80vw;
}

.sidebar-toggle {
  position: absolute;
  right: 0;
  width: 10%;
}

.sidebar-toggle:hover {
  cursor: pointer;
}

.burger {
  cursor: pointer;
}

.burger:hover {
  color: rgb(117, 116, 116);
}

.nav-btn {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #000;
  text-align: center;
  width: 25%;
  font-family: 'Arima Madurai', cursive;
}

@media screen and (min-width: 800px) {
  .sidebar-active {
    width: 60vw;
  }
}

.nav-link:hover {
  color: rgb(151, 149, 149);
  cursor: pointer;
}

.nav-title {
  text-align: left;
  width: 15%;
}

.cart-and-count {
  display: flex;
  padding-right: 2rem;
}

.cart-count {
  display: none;
}

@media screen and (min-width: 550px) {
  .cart-count {
    display: block;
  }
}

.cart-count-active {
  background-color: #f8f6f0;
  font-family: 'Arima Madurai', cursive;
  width: 50%;
  border-radius: 40%;
  text-align: center;
  color: #7c7b79;
}
